* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#text {
  width: 600px;
  height: 200px;
  border-radius: 20px;
  resize:vertical 
}

.contactDisplay {
  display: flex;
  justify-content: center;
}

input::placeholder {
  font-weight: bold;
  /* text-align: center; */
}

textarea {
  font-weight: bold;
  /* text-align: center; */
  padding: 13px;
  border: 2px black solid;
}

input {
  font-weight: bold;
  /* text-align: center; */
  padding-top: 3%;
}

.firstpr {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 24px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #f7f8fa;
}

select {
  display: flex;
  gap: 24px;
}

select {
  color: rgba(0, 0, 0, 0.551);
  font-weight: bold;
  padding: 0 5px;
  /* text-align: center; */
  height: 30px;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 16px;
}

input {
  height: 30px;
}

.formulaire {
  display: flex;
  gap: 24px;
  margin: 24px;
}

.formulaire {
  width: auto;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 24px;
  background-color: #f7f8fa;
  box-shadow: none;
}

.formulaire input {
  width: 600px;
  padding: 0px 12px;
  border: 2px black solid;
  border-radius: 15px;
}

form {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

.buttonContact {
  display: flex;
  padding: 10px;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  margin-top: 20px;
}

.button {
  font-weight: bold;
  background-color: orange;
  display: flex;
  gap: 3px;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.section-titre h2 {
  margin-top: 34px;
}

/* .box {
    flex: 1;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(15, 27, 45, 0.08);
} */

.informationBox {
  padding: 24px;
  background-color: #f7f8fa;
  box-shadow: none;
  margin: 24px;
}

.informationBox .icone {
  margin-bottom: 20px;
}

/* .informationBox h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.informationBox p {
    color: #4B5563;
    line-height: 1.6;
} */
.fitness {
  padding: 64px 0 96px;
}

.balise {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width : 600px){
  html{
    flex-direction: column;
  }
}
.contactDisplay{
  display: flex;
}
@media (max-width : 600px){
  .contactDisplay{
    flex-direction: column;
  }
}

